* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: nobel, sans-serif;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root { 
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #ffc400e4;
    --main-color: #a9903c;   
    --other-color: #474747;

    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}
body {
    color: var(--text-color);
    background: var(--text-color);
}

h1 {
   font-family: nobel, sans-serif;
   font-weight: 40;
   font-style: normal;
}

h2 {
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
}

/* Nav bar */
#nav {
    left: 0%;
    right: 0%; 
    position: fixed;
    top: -45px; /* was 3px */
    margin: 20px;
    z-index: 1000;
    line-height: 40px;
    padding: 0px 30px;
    position: fixed;
}


.nav-item.right.logo img {
   /* height: 100px; /* Adjust the height of the logo */
   /* padding-bottom: 50px; */
    width: 20em;
}

.navlist a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color); /* was text color */
    margin-left: 28px;
    transition: all .50s ease;
}

.navlist a:hover {
    color: var(--second-bg-color); /* was text color */
    text-shadow: 3px 3px 20px var(--bg-color), -2px 1px 30px var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 16%;
    background: transparent;
    transition: all .50s ease;
}

/*.logo {
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
}*/

header.sticky {
    background: linear-gradient(to right, white, grey);; /* was other color */
    box-shadow: 0 .1rem 2rem rgba(0, 0, 0, .2);
    padding: 45px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-item:first-child {
    float: left; 
    font-weight: 500;
}

.nav-item {
    color: ' ';
    float: right;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-item.right {
    padding-bottom: 40px;
}

.nav-item.left {
    padding-top: 50px;
}

section {
    padding: 140px 10% 90px;
    position: relative;
    height: 100vh;
    min-height: 100vh;
    background-image: url();
}

.ri-menu-line {
    font-size: 22px;
}


.arrow {
    border: solid black;
    border-color: var(--text-color); /* b49d49 */
    border-width: 0 3.5px 3.5px 0;
    display: inline-block;
    padding: 16px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.3s;
    animation: bounce 3s infinite;
}

.arrow:hover {
    opacity: 60%;
    transform: scale(1.25) rotate(45deg);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    40% {
        transform: translateY(-2px) rotate(45deg);
    }
    60% {
        transform: translateY(-8px) rotate(45deg);
    }
} 


/* Hero section */

.hero {
    height: 100vh;
    width: 100%;
    background: url(img/background.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-content {
    text-align: left; /* Add this to align text to the left */
}

.main-content h1 {
    font-size: 2.5rem;
}

.main-content h2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 20px 0px 20px;
    line-height: 2;
    letter-spacing: 3px;
}

.btn {
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

.btn2 {
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}

.btn2:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.main-btn {
    margin: 20px 0px 10px 20px;
    display: flex;
    align-items: center; /* Align buttons vertically in the middle */
    margin-top: 60px; /* was 20 */
}

.arrow {
    margin: 210px 150px 0px 180px;
    margin-top: 550px;
}

/* Building Section */
#building {
    background-image: url('img/cd\ pattern.jpg'); 
}

.image-container {
    position: relative;
    text-align: center; /* Center-align the title text */
}

/* .image-container img {
    box-shadow: 0 4px 8px 0 rgba(184, 155, 23, 0.2), 0 6px 20px 0 rgba(184, 155, 23, 1);

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
   /* clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%); 
} */

@keyframes pulse {
    0% {
      box-shadow: inset 0 0 10px 5px rgba(140, 100, 0, 0.5), 0 0 10px 5px rgba(255, 221, 102, 0.5);
    }
    50% {
      box-shadow: inset 0 0 15px 8px rgba(140, 100, 0, 0.8), 0 0 15px 8px rgba(355, 221, 102, 0.8);
    }
    100% {
      box-shadow: inset 0 0 10px 5px rgba(140, 100, 0, 0.5), 0 0 10px 5px rgba(255, 221, 102, 0.5);
    }
  }
  
.image-container img{
    animation: pulse 2s infinite alternate; /* Adjust the duration and other parameters as needed */
}

.container-building {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.image-title {
    font-size: 45px;
    font-weight: 90;
    color: var(--other-color);
    letter-spacing: 2.8px;
    padding: 10px 20px; /* Add padding to the title */
    border-radius: 5px; /* Add rounded corners to the title container */
}

.explore-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
    font-weight: 90;
    initial-letter: 1px;
    color: var(--bg-color);
}

.explore-container p {
    font-size: 20px;
    margin: 0;
    padding: 35px; /* Add padding to create space around the text */
    width: 100%;
    letter-spacing: 2.5px;
    font-weight: 500;
}

.btn3 {
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.btn3:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

/* Residences */

#residences {
    /* background-color: var(--other-color); */
   /* background-image: url('img/cd\ grey\ pattern.jpg'); */
   background-image: url('img/cd\ pattern.jpg'); 
}

.residences {
    position: relative;
    text-align: center;
}

/* .residences img {
    box-shadow: 
    inset 0 0 10px 5px rgba(140, 100, 0, 0.5), /* Inner shadow 
    0 0 10px 5px rgba(255, 221, 102, 0.5); /* Outer shadow 
} */

@keyframes pulse {
    0% {
      box-shadow: inset 0 0 10px 5px rgba(140, 100, 0, 0.5), 0 0 10px 5px rgba(255, 221, 102, 0.5);
    }
    50% {
      box-shadow: inset 0 0 15px 8px rgba(140, 100, 0, 0.8), 0 0 15px 8px rgba(255, 221, 102, 0.8);
    }
    100% {
      box-shadow: inset 0 0 10px 5px rgba(140, 100, 0, 0.5), 0 0 10px 5px rgba(255, 221, 102, 0.5);
    }
  }
  
.residences img{
    animation: pulse 2s infinite alternate; /* Adjust the duration and other parameters as needed */
}
  

.container-residences {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.image-title2 {
    font-size: 45px;
    font-weight: 90;
    color: var(--other-color);
    letter-spacing: 2.8px;
    padding: 10px 20px; /* Add padding to the title */
    border-radius: 5px; 
}
  
.explore-container2 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
    font-weight: 90;
    initial-letter: 1px;
    color: var(--bg-color);
}

.explore-container2 p {
    color: var(--other-color);
    font-size: 20px;
    margin: 0;
    padding: 35px; /* Add padding to create space around the text */
    width: 100%;
    letter-spacing: 2.5px;
    font-weight: 500;
}



/* Amenities section */

#amenities {
    background-image: url('img/cd\ pattern.jpg'); 
}

.amenities {
    position: relative;
    text-align: center; /* Center-align the title text */
}

/* .amenities img {
    box-shadow: 0 4px 8px 0 rgba(184, 155, 23, 0.2), 0 6px 20px 0 rgba(184, 155, 23, 1);
} */

@keyframes pulse {
    0% {
      box-shadow: inset 0 0 10px 5px rgba(140, 100, 0, 0.5), 0 0 10px 5px rgba(255, 221, 102, 0.5);
    }
    50% {
      box-shadow: inset 0 0 15px 8px rgba(140, 100, 0, 0.8), 0 0 15px 8px rgba(255, 221, 102, 0.8);
    }
    100% {
      box-shadow: inset 0 0 10px 5px rgba(140, 100, 0, 0.5), 0 0 10px 5px rgba(255, 221, 102, 0.5);
    }
  }
  
  .amenities img {
    animation: pulse 1s infinite alternate; /* Adjust the duration and other parameters as needed */
  }
  

.container-amenities {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.image-title3 {
    font-size: 45px;
    font-weight: 90;
    color: var(--other-color);
    letter-spacing: 2.8px;
    padding: 10px 20px; /* Add padding to the title */
    border-radius: 5px; /* Add rounded corners to the title container */
}

.explore-container3 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
    font-weight: 90;
    initial-letter: 1px;
    color: var(--bg-color);
}

.explore-container3 p {
    font-size: 20px;
    margin: 0;
    padding: 35px; /* Add padding to create space around the text */
    width: 100%;
    letter-spacing: 2.5px;
    font-weight: 500;
}

.btn3 {
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.btn3:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}


/* Neighborhood */

#neighborhood {
    /* background-color: var(--other-color); */
    background-image: url('img/cd\ grey\ pattern.jpg');
}

.neighborhood {
    position: relative;
    text-align: center;
}

/* .neighborhood img {
    box-shadow: 0 4px 8px 0 rgba(184, 155, 23, 0.2), 0 6px 20px 0 rgba(184, 155, 23, 1);
} */

@keyframes pulse {
    0% {
      box-shadow: inset 0 0 10px 5px rgba(140, 100, 0, 0.5), 0 0 10px 5px rgba(255, 221, 102, 0.5);
    }
    50% {
      box-shadow: inset 0 0 15px 8px rgba(140, 100, 0, 0.8), 0 0 15px 8px rgba(255, 221, 102, 0.8);
    }
    100% {
      box-shadow: inset 0 0 10px 5px rgba(140, 100, 0, 0.5), 0 0 10px 5px rgba(255, 221, 102, 0.5);
    }
  }
  
.neighborhood img  {
    animation: pulse 2s infinite alternate; /* Adjust the duration and other parameters as needed */
}
  

.container-neighborhood {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.image-title4 {
    font-size: 45px;
    font-weight: 90;
    color: var(--text-color);
    letter-spacing: 2.8px;
    padding: 10px 20px; /* Add padding to the title */
    border-radius: 5px; 
}
  
.explore-container4 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
    font-weight: 90;
    initial-letter: 1px;
    color: var(--bg-color);
}

.explore-container4 p {
    color: var(--text-color);
    font-size: 20px;
    margin: 0;
    padding: 35px; /* Add padding to create space around the text */
    width: 100%;
    letter-spacing: 2.5px;
    font-weight: 500;
}