* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: nobel, sans-serif;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root { 
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #ffc400e4;
    --main-color: #ffd700;   
    --other-color: #474747;

    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}
body {
    color: var(--text-color);
    background: var(--text-color);
}

h1 {
   font-family: nobel, sans-serif;
   font-weight: 40;
   font-style: normal;
}

h2 {
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
}

/* Nav */
#nav {
    left: 0%;
    right: 0%; 
    position: fixed;
    top: 3px;
    z-index: 1000;
    margin: 20px;
    line-height: 40px;
    padding: 0px 30px;
    position: fixed;
}

.nav-item.logo {
    margin-bottom: 50px;
}

.navlist a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin-left: 28px;
    transition: all .50s ease;
}

.navlist a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 16%;
    background: transparent;
    transition: all .50s ease;
}

header.sticky {
    background: var(--other-color);
    box-shadow: 0 .1rem 2rem rgba(0, 0, 0, .2);
    padding: 45px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-item:first-child {
    float: left; 
    font-weight: 500;
}

.nav-item {
    color: ' ';
    float: right;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

section {
    padding: 140px 10% 90px;
    position: relative;
    height: 100vh;
    min-height: 100vh;
    background-image: url();
}

.ri-menu-line {
    font-size: 22px;
}


.arrow {
    border: solid black;
    border-color: #ffd700; /* b49d49 */
    border-width: 0 3.5px 3.5px 0;
    display: inline-block;
    padding: 16px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.3s;
    animation: bounce 3s infinite;
}

.arrow:hover {
    opacity: 60%;
    transform: scale(1.25) rotate(45deg);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    40% {
        transform: translateY(-2px) rotate(45deg);
    }
    60% {
        transform: translateY(-8px) rotate(45deg);
    }
}

/* 
 sidebar 
#sidebar {
    position: absolute;
    width: 2000px;
    height: 100%;
    background: #000;
    left: -2000px;
    transition: .4s;
}

#sidebar.active {
    left: 0;
}

#sidebar ul li {
    list-style: none;
    color: var(--text-color);
    font-size: 30px;
    padding: 5px 25px;
    font-weight: 300;
    letter-spacing: 2px;
}

#sidebar .toggle-btn {
    position: absolute;
    top: 30px;
    left: 330px;
}

.toggle-btn span {
    width: 45px;
    height: 4px;
    background: var(--bg-color);
    display: block;
    margin-top: 4px;
}
*/

/* Hero section */

.hero {
    height: 100vh;
    width: 100%;
    background: url(img/background.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-content {
    text-align: left; /* Add this to align text to the left */
}

.main-content h1 {
    font-size: 2.5rem;
}

.main-content h2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 20px 0px 20px;
    line-height: 2;
    letter-spacing: 3px;
}

.btn {
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

.btn2{
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}

.btn2:hover{
    background: var(--main-color);
    color: var(--bg-color);
}

.main-btn {
    margin: 20px 0px 10px 20px;
    display: flex;
    align-items: center; /* Align buttons vertically in the middle */
    margin-top: 60px; /* was 20 */
}

.arrow {
    margin: 210px 150px 0px 180px;
    margin-top: 550px;
}

/* Building Section */

.image-container {
    position: relative;
    text-align: center; /* Center-align the title text */
}

.image-container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.container-building {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    margin-top: 75px;
}


.image-title {
    position: absolute;
    top: 68%;
    left: 13%; /* Position the title in the horizontal center */
    font-size: 75px;
    font-weight: 90;
    color: var(--text-color);
    letter-spacing: 2.8px;
    padding: 10px 20px; /* Add padding to the title */
    border-radius: 5px; /* Add rounded corners to the title container */
}

.explore-container {
    display: flex;
    align-items: center;
    font-weight: 90;
    initial-letter: 1px;
    color: var(--bg-color);
}

.explore-container p {
    font-size: 20px;
    margin: 0;
    padding: 15px; /* Add padding to create space around the text */
    width: 45%;
    letter-spacing: 2.5px;
    font-weight: 500;
}

.explore-container a {
    font-size: 20px;
    margin: 0;
    padding: 8px; /* Add padding to create space around the text */
    color: var(--bg-color);
    font-weight: 800;
    letter-spacing: 3px;
    text-decoration: none; /* Remove the default underline */
    position: relative; /* Add relative positioning for pseudo-element */
}

.explore-container a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.explore-container p:first-child {
    flex: 1; /* Allow the first paragraph to grow and take available space */
}

.explore-container p:last-child {
    margin-left: 30px; /* Add some margin to separate the two paragraphs */
}

.explore-container a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px; /* Set the height of the underline */
    background-color: var(--main-color); /* Set the underline color to yellow */
    position: absolute;
    bottom: 0; /* Adjust this value to control the space between the word and underline */
    left: 0;
}

.explore-container a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

/* Residences */

#residences {
    background-color: var(--other-color);
}

.residences img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.container-residences {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.image-title2 {
    color: var(--text-color);
}
  
.explore-container2 {
    padding: 50px;
    margin-top: 60px;
    text-align: center;
}

.explore-container2 p {
    color: var(--text-color);
    font-size: 20px;
}

.explore-container2 a {
    font-size: 20px;
    margin: 0;
    padding: 8px; /* Add padding to create space around the text */
    color: var(--text-color);
    font-weight: 800;
    letter-spacing: 3px;
    text-decoration: none; /* Remove the default underline */
    position: relative; /* Add relative positioning for pseudo-element */
}

.explore-container2 a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.explore-container2 p:first-child {
    flex: 1; /* Allow the first paragraph to grow and take available space */
}

.explore-container2 p:last-child {
    margin-left: 30px; /* Add some margin to separate the two paragraphs */
}

.explore-container2 a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px; /* Set the height of the underline */
    background-color: var(--main-color); /* Set the underline color to yellow */
    position: absolute;
    bottom: 0; /* Adjust this value to control the space between the word and underline */
    left: 0;
}

.explore-container2 a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}